{% extends 'base.html.twig' %}

{% block title %}Hello AllController!{% endblock %}

{% block body %}
<div class="container my-5">

    <h1>Détail du livre</h1>
<div class="row" >
<div class="col-3">
  <img src="{{ livre.image }}" class="card-img" alt="...">
</div>
  <div class="col">
    <h2>{{ livre.titre }} ({{ livre.prix}} DT)</h2>
    <h3>Editeur: {{ livre.editeur }}</h3>
    <h3>Date Edition: {{ livre.dateEdition|date('d/m/Y') }}</h3>
    <h4>ISBN: {{ livre.isbn }}</h4>
    <p>{{ livre.resume }}</p>
</div>
</div>
</div>
{% endblock %}
